In [89]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import MinMaxScaler
from sklearn.pipeline import Pipeline

In [97]:
train = pd.read_csv('train.csv')

In [98]:
train.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1, inplace=True)

In [99]:
X_train, X_test, y_train, y_test = train_test_split(train.drop('Survived', axis = 1), train['Survived'], test_size=0.33, random_state=42)

In [94]:
train.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
dtype: int64

In [95]:
X_train = train['Survived']
train = train.drop('Survived', axis = 1)

In [96]:
train = train.drop(['PassengerId'], axis = 1)

KeyError: "['PassengerId'] not found in axis"

In [32]:
train.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0       3    male  22.0      1      0   7.2500        S
1       1  female  38.0      1      0  71.2833        C
2       3  female  26.0      0      0   7.9250        S
3       1  female  35.0      1      0  53.1000        S
4       3    male  35.0      0      0   8.0500        S

In [36]:
X_train, X_test, y_train, y_test = train_test_split(train.drop('Survived', axis = 1), train['Survived'], test_size=0.33, random_state=42)

In [100]:
X_train.head()

     Pclass     Sex   Age  SibSp  Parch     Fare Embarked
6         1    male  54.0      0      0  51.8625        S
718       3    male   NaN      0      0  15.5000        Q
685       2    male  25.0      1      2  41.5792        C
73        3    male  26.0      1      0  14.4542        C
882       3  female  22.0      0      0  10.5167        S

In [101]:
trf1 = ColumnTransformer(transformers=[
    ('impute_age', SimpleImputer(), [2]),
    ('impute_embarked', SimpleImputer(strategy='most_frequent'), [6])
], remainder='passthrough')

In [67]:
pipe1 = Pipeline([
    ('trf1', trf1)
])

In [72]:
X_train = pipe1.fit_transform(X_train)

In [78]:
train.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [85]:
X_train = pd.DataFrame(X_train, columns= train.drop('Survived', axis = 1).columns)

In [87]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 596 entries, 0 to 595
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    596 non-null    object
 1   Sex       596 non-null    object
 2   Age       596 non-null    object
 3   SibSp     596 non-null    object
 4   Parch     596 non-null    object
 5   Fare      596 non-null    object
 6   Embarked  596 non-null    object
dtypes: object(7)
memory usage: 32.7+ KB

In [110]:
trf2 = ColumnTransformer(transformers=[
    ('ohe_sex_embarked', OneHotEncoder(sparse_output = False, handle_unknown='ignore'), [1, 6])
], remainder='passthrough')

In [108]:
copy_X_train = X_train

In [111]:
pipe2 = Pipeline([
    ('trf1', trf1),
    ('trf2', trf2)
])

In [112]:
copy_X_train = pipe2.fit_transform(copy_X_train)

In [116]:
copy_X_train

array([[0.0, 0.0, 1.0, ..., 'male', 0, 0],
       [0.0, 1.0, 0.0, ..., 'male', 0, 0],
       [1.0, 0.0, 0.0, ..., 'male', 1, 2],
       ...,
       [0.0, 0.0, 1.0, ..., 'male', 2, 0],
       [0.0, 0.0, 1.0, ..., 'female', 1, 2],
       [0.0, 0.0, 1.0, ..., 'male', 0, 1]], dtype=object)

In [103]:
trf3 = ColumnTransformer(transformers=[
    ('scale', MinMaxScaler(), slice(0, 10))
], remainder = 'passthrough')

In [104]:
trf4 = DecisionTreeClassifier()

In [107]:
pipe = Pipeline([
    ('trf1', trf1),
    ('trf2', trf2),
    ('trf3', trf3),
    ('trf4', trf4)
])

In [106]:
pipe.fit(X_train, y_train)

ValueError: could not convert string to float: 'male'

In [50]:
X_train.head()

     Pclass     Sex   Age  SibSp  Parch     Fare Embarked
6         1    male  54.0      0      0  51.8625        S
718       3    male   NaN      0      0  15.5000        Q
685       2    male  25.0      1      2  41.5792        C
73        3    male  26.0      1      0  14.4542        C
882       3  female  22.0      0      0  10.5167        S