In [23]:
import numpy as np
from sklearn.compose import make_column_transformer
from sklearn.impute import SimpleImputer
from sklearn.pipeline import make_pipeline
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [33]:
df = pd.read_csv('train.csv')

In [34]:
df.drop(['PassengerId', 'Survived', 'Pclass', 'Name', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin'], axis = 1, inplace = True)

In [35]:
df.columns

Index(['Sex', 'Embarked'], dtype='object')

In [36]:
df.head()

      Sex Embarked
0    male        S
1  female        C
2  female        S
3  female        S
4    male        S

In [44]:
t0 = make_column_transformer(
       (SimpleImputer(strategy='most_frequent'), [1]),
    remainder='passthrough'
)

In [45]:
df = t0.fit_transform(df)

In [38]:
df

        Sex Embarked
0      male        S
1    female        C
2    female        S
3    female        S
4      male        S
..      ...      ...
886    male        S
887  female        S
888  female        S
889    male        C
890    male        Q

[891 rows x 2 columns]

In [46]:
t1 = make_column_transformer(
       (OneHotEncoder(handle_unknown='ignore', drop='first'), [0, 1])
, remainder='passthrough')

In [47]:
t1.fit_transform(df)

array([[0., 1., 1.],
       [0., 0., 0.],
       [0., 1., 0.],
       ...,
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 1.]])

In [42]:
pipe = make_pipeline(
       (t0),
       (t1)
)

In [43]:
pipe.fit_transform(df)

array([[0., 1., 1.],
       [0., 0., 0.],
       [0., 1., 0.],
       ...,
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 1.]])